/** global element styling **/

@import "https://fonts.googleapis.com/css?family=Lato:400,700";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: 'Lato', sans-serif;
}

#page-wrapper {
  position: relative;
}

#header-img{
  height: 50px;
  width: 50px;
  padding-top: 10px;
}

#highlight{
  color: dodgerBlue;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

#homepic{
  background-image: url("https://c.static-nike.com/a/images/f_auto/dpr_1.0/w_1237,c_limit/omw9aygfqyz1wcvaacyb/-nike-adapt-self-lacing-shoes.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  
}
/** global classes styling **/

.container {
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

.grid {
  display: flex;
}

header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
}



@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo {
  width: 60vw;
}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

.logo > img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}

nav {
  font-weight: 400;
}

@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}

#newsletter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 10px;
  background-color: rgba(109, 149, 170, 0.5);
}

#newsletter > h2 {
  margin-bottom: 20px;
  word-wrap: wrap;
}

#newsletter input[type="email"] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
  border-width: 2px;
  border-color: rgb(51, 81, 107);
  border-style: solid;
}

#submit {
  background-color: #f1c40f;
  border-radius: 5px;
  border-color: rgb(51, 81, 107);
  border-width: 2px;
   border-style: solid;
  width: 55x;
}

#submit:hover {
  background-color: orange;
  transition: background-color 1s;
}

@media (max-width: 650px) {
  #newsletter {
    margin-top: 120px;
  }
}

#form {
    display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  justify-content: space-around;  
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  
  
}

.column {
  flex: 50%;
  padding: 5px 4px;
}





.column img {
  margin-top: 8px;
  vertical-align: middle;
}



#features {
  margin-top: 30px;
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: darkorange;
}

@media (max-width: 550px) {
  #features .icon {
    display: none;
  }
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

@media (max-width: 550px) {
  #features .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

@media (max-width: 650px) {
  #features {
    margin-top: 0;
  }
}

#reviews {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

#reviews > iframe {
  max-width: 560px;
  width: 100%;
}

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100%  / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

.product > .level {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.product > h2 {
  margin-top: 15px;
}

.product > ol {
  margin: 15px 0;
}

.product > ol > li {
  padding: 5px 0;
}

.product > button {
  border: 0;
  margin: 15px 0;
  background-color: #f1c40f;
  font-weight: 400;
}

.product > button:hover {
  background-color: orange;
  transition: background-color 1s;
}

@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}
